---
layout: page
---

{% assign site_posts = site.posts | where: 'layout', 'post' %}
{% for post in site_posts %}
{% for cat in post.categories %}
{% if cat == page.category %}
<div class="post postContent">
  <div  class="postDate"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
  </div>
  <div class="postTag">
    {{post.tag}}
  </div>
  <br>
  <div class="postTitle">
  <a class='postLink' href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a>
  </div>
  <div class="postExt">
    {{post.description}}
  </div>
</div>
{% endif %}
{% endfor %}
{% endfor %}
